.dub/
build/
*.visualdproj
example/*/*.dll
*.sln
example/*/*.lib
example/*/*.cpp
example/*/*.zip
dub.selections.json
example/*/unzip_parallel.d
example/*/saved.mpac
example/*/build_awewrapper.d
example/*/awesomium4d_cw.o
example/*/awesomium_process
example/*/libawesomium-1-7.so.5.0
example/*/libffmpegsumo.so
example/*/osx_wrapper.mm
example/*/osx_wrapper.o
