<!doctype html>
<html lang="jp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>MyView</title>

    <link rel="stylesheet" href="views/bootstrap-3.3.2-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="views/bootstrap-3.3.2-dist/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="views/font-awesome-4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="views/jquery-ui/jquery-ui.css">
</head>
<body>

<center>
%[elements["txt_timer"].html%]
<br>

<div class="progress">
    <div id="progress_bar" class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;"></div>
</div>

<br>

%[elements["txt_secs"].html%]秒
<br>

%[elements["radio_fb_btn"].html%]
<br>

%[elements["btn_start"].html%]
%[elements["btn_reset"].html%]

</center>

<script src="views/jquery-ui/external/jquery/jquery.js"></script>
<script src="views/jquery-ui/jquery-ui.js"></script>
<script src="views/bootstrap-3.3.2-dist/js/bootstrap.min.js"></script>
</body>
</html>