* {
font-family:'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, 'ＭＳ Ｐゴシック', sans-serif;
}

* { margin: 0; padding: 0; }

html {
    width: 100%;
    height: 100%;
}


body {
    width: 100%;
    height: 100%;
}

#div_TweetArea {
    display: table;
    width: 100%;
    height: 100px;
}

#div_iptTweetText, #div_btnTweet {
    display: table-cell;
}

#div_iptTweetText {
    vertical-align: top;
    height: 100%;
    width: calc(100% - 100px);
}

#div_btnTweet {
    height: 100px;
    width: 100px;
}

#iptTweetText {
    height: 100%;
    width: 100%;
    resize: none;
}

#btnTweet {
    height: 100px;
    width: 100%;
}

#div_tweetTable {
    width: 100%;
    height: calc(100% - 100px);
}

#tweetTable {
    width: 100%;
    height: calc(100% - 100px);
}

#tweetTable tr {
    width: 100%;
}

#tweetTable tr > th:nth-child(1){
    width: 60px;
}

#tweetTable tr > th:nth-child(2){
    width: 200px;
}

#tweetTable tr > th:nth-child(3){
    width: calc(100% - 260px);
}
