* {
font-family:'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, 'ＭＳ Ｐゴシック', sans-serif;
font-size: 11pt;
}

* { margin: 0; padding: 0; }

html {
    width: 100%;
    height: 100%;
}


body {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    vertical-align: top;
}


#div_TweetArea {
    display: table;
    width: 100%;
    height: 100px;
    text-align: right;
}

#div_iptTweetText, #div_btnTweet {
    display: table-cell;
}

#div_iptTweetText {
    height: 100px;
    width: jsExpr(doc.documentElement.clientWidth - 100);
    vertical-align: top;
}

#iptTweetText {
    height: 100px;
    width: 100%;
    resize: none;
    vertical-align: top;
}

#div_btnTweet {
    height: 100px;
    width: 100px;
}

#btnTweet {
    height: 100px;
    width: 100px;
}

#div_tweetTable {
    width: jsExpr(doc.documentElement.clientWidth);
}

#tweetTable {
    width: jsExpr(doc.documentElement.clientWidth - 20); /*calc(100%w - 20px);*/
}

#tweetTable tr {
    width: jsExpr(doc.documentElement.clientWidth);
}

#tweetTable tr > th:nth-child(1){
    width: 60px;
}

#tweetTable tr > th:nth-child(2){
    width: 200px;
}

#tweetTable tr > th:nth-child(3){
    width: jsExpr(doc.documentElement.clientWidth - 300); /*calc(100%w - 300px);*/
}

#tweetTable tbody {
    display: block;
    overflow-y: scroll;
    height: jsExpr(doc.documentElement.clientHeight - 160);
    width: 100%;
}

#tweetTable thead {
    display: block;
    width: 100%;
}

#tweetTable tbody tr td:nth-child(1) img {
    width: 40px;
    height: 40px;
}