* {
font-family:'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, 'ＭＳ Ｐゴシック', sans-serif;
}

#iptTweetText {
    width: 100%;
}

#btnTweet {
    position: relative;
    float: right;
    z-index: 2;
}
